// {
//   "presets": ["@babel/preset-env", "@babel/preset-react"]
// }


{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        }
      }
    ],
    "@babel/preset-react"
  ]
}