/* 
COLOR Palette
#f93822 red
#70d9e5 blue
#ffb81c orange 
#8e9aaf gray

FONT Family:
Sofia Pro
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* font-family: sans-serif; */
  background-color: fff8d6;
  text-align: center;
  font-family: "sofia-pro", sans-serif;
  width: 100%;
  margin: 0;
  color: #000000;
  background-color: #70d9e5;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* buttons  */

.submitButton {
  background-color: #ffb81c;
  display: inline-block;
  padding: 0.3em;
  margin: 0.1em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  height: 3em;
  width: 3em;
  box-sizing: border-box;
  /* text-decoration: none; */
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  /* transition: all 0.2s; */
}

.addMore {
  background-color: #f93822;
  display: inline-block;
  padding: 0.3em;
  margin: 0.1em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  box-sizing: border-box;
  /* text-decoration: none; */
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  /* transition: all 0.2s; */
}

.submitFlat {
  background-color: #f93822;
  display: inline-block;
  padding: 0.3em;
  margin: 0.1em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 10%;
  box-sizing: border-box;
  /* text-decoration: none; */
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  /* transition: all 0.2s; */
  position: relative;
  transition: 0.2s ease-in-out;
}

.buttonCTA {
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.cornerButton {
  background: transparent;
  color: #000000;
  border: 3px solid #000000;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* CSS for Header component */

.header {
  display: flex;
  justify-content: center;
  align-items: space-between;
  background-color: #fff;
  /* border: 3px solid #ff7b00; */
  border-radius: 10px;
  height: 150px;
  padding: 10px 20px 10px 20px;
}

/* .headerLogo {
  display: flex;
  align-items: flex-start;
} */

.logo {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  height: 150px;
  width: 150px;
}

.headerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSubtitle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
/* .header ::before {
  content: "\a";
  display: block;
  width: 10px;
  height: 10px;
  color: red;
}
.header ::after {
  content: "\a";
  display: block;
  width: 10px;
  height: 10px;
  color: blue;
} */

.header h1 {
  margin: 0;
  text-shadow: 2px 2px 6px #fff;
  text-align: center;
}

.header h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #f93822;
}

.header a {
  color: #f93822;
}

.header a:hover {
  color: #ffff9e;
}

/* CSS for Footer component */
#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  /* border: 3px solid #ff7b00; */
  border-radius: 10px;
  height: 200px;
  padding: 20px 40px 20px 60px;
  margin-top: 40px;
  color: #8e9aaf;
}

#footer a {
  color: #8e9aaf;
}

#footer a:hover {
  color: #f93822;
}

.footerHalf {
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-right: 60px;
  text-align: justify;
}

.footerHalf2 {
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-left: 60px;
  text-align: left;
}

/* CSS for Submit component */
.imagePreview {
  border-radius: 10px;
}

/* CSS for Review component */
